# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Production & Build
dist/
dist-ssr/
build/
.next
out

# Environment variables
.env
.env.local
.env.*.local
.env.production.local
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# Cache files
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.turbo/

# Testing
coverage/
.nyc_output/

# Misc
*.pem
*.local
.tern-port
.vercel
.netlify
